
#app {
   position: relative;
}
h1{
   color: rgb(89, 26, 214);
}
.content{
   margin: 10px;
   padding: 5px;
   position: absolute;
   top: 0;
   right: 0;
   left: 200px;
}
.miracle{
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   width: 200px;
   z-index: 100px;
   padding: 10px;
   box-shadow: inset -1px 0 0 grba(0,0,0,1);
   overflow: auto;
}
